<!DOCTYPE html>
<html>
<head>
  <title>Pray4japan</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag %w{jquery rails jquery.socialbutton-1.7.1 jquery.lightbox-0.5 application} %>
  <%= javascript_include_tag "http://maps.google.com/maps?file=api&v=2&key=#{Settings.google.api_key}" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <div class="inner">
    <div class="logo"></div>
    <h1>PRAY FOR JAPAN</h1>
    <ul class="socialButtons">
      <li class="hatena"></li>
      <li class="twitter"></li>
      <li class="facebook"></li>
    </ul>
    <hr class="defloat" />
  </div>
</div>

<div id="main">
  <div class="inner">
    <%= yield %>
  </div>
</div>

<div id="footer">
  <div class="inner">
    <%= render :partial => "layouts/footer" %>
  </div>
</div>


<div id="navi">
  <%= render :partial => "layouts/navi" %>
</div>

<script type="text/javascript">
  googleAnalytics();
</script>

</body>
</html>
